/*----------------------------------------------------- Imports */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');

/*----------------------------------------------------- General */

html, body {
    overflow-x: hidden;
  }

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Poppins', sans-serif;  
}

.container-fluid {
    padding: 0px;
}

/* Snippet taken from Stackflow 
    https://stackoverflow.com/questions/39588914/how-do-i-add-a-data-offset-to-a-bootstrap-4-fixed-top-responsive-navbar
    Pushes anchor down the height of the navbar */
span.anchor {
    margin-top: -164px; /* height of nav, in this case 54px */
    display: block;
    height: 164px; /* height of nav, in this case 54px */
    visibility: hidden;
    position: relative;
}

.sections-container {
    padding: 20px;
}

.section-header {
    padding-bottom: 50px;
    padding-top: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #fff;
}

/*----------------------------------------------------- Colors */

.bg-color-1 {
    background-color: #000;
}

.bg-color-2 {
    background-color: #ba9950;
}

.bg-color-3 {
    background-color: #fff;
}

.txt-color-1, .txt-color-1 h3, .txt-color-1 h2 {
    color: #000;
}

.txt-color-2 {
    color: #fff;
}

.txt-color-3 {
    color: #ba9950;
}

/*----------------------------------------------------- Header */

.navbar {
    padding: 20px;
}

/* Transition found at https://www.w3schools.com/howto/howto_css_zoom_hover.asp and adapted for use here */

.logo {
    height: 80px;
    margin-left: 5%;
    transition: transform .2s;
}

.logo:hover {
    transform: scale(0.9);
}

.navbar-collapse {
    margin-top: 60px;
}

/* Image from canva.com */
.navbar-toggler-icon {
    background-image: url(../images/burger-menu-nav-img.png);
}

.nav-link, .book-link {
    margin-right: 20px;
}

.nav-link:hover {
    color: #fff;
}

.nav-link:active {
    color:	#4a3d20;
}

button.navbar-toggler:focus {
    box-shadow: none;
}

.navbar ul {
    float: right;
}

.navbar li{
    text-align: right;
}

/*----------------------------------------------------- Seperator Top */

.seperator p {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.seperator-top {
    margin-top: 130px;
}

/*----------------------------------------------------- Hero Image */

/* the margin clears the fixed header and seperator */
#hero-section {
    margin-top: 164px;
}

.hero-row {
    padding: 20px;
}

.hero-header {
    text-align: center;
    margin: auto;
    padding: 20px;
}

.hero-button {
    margin-top: 20px;
}

/* Keyframes animation adapted from the Code Insitute Love Running Project */

.hero-image {
    max-height: 400px;
    width: auto ;
    max-width: 100% ;

    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1);
    }
}

/*----------------------------------------------------- Services Section */

.services-items-row {
    padding: 0px 50px 50px 50px;
}

.first-service-item {
    margin-top: 0;
}

/*----------------------------------------------------- Gallery Section */

.img-fluid {
    margin-bottom: 5%;
}

.gallery-container {
    text-align: center;
}

/*----------------------------------------------------- Testimonials Section */

.figure-img {
    min-width: 100px;
    height: 100px;
}
.testimonial-text p, .testimonial-subtitle {
    font-size: 0.75rem;
}

.testimonial-title {
    font-size: 1.1rem;
}

/*----------------------------------------------------- Book Section */

form {
    max-width: 600px;
    margin: 0 auto;
}

.phone-book a:hover {
    color: #ba9950;
}

/*----------------------------------------------------- Buttons */

.btn-outline-success {
    border-color: #ba9950;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #ba9950;
    border-color: #fff;
}

.btn-outline-success:active {
    background-color: 	#4a3d20!important;
    border-color: 	#4a3d20!important;
}

/*----------------------------------------------------- Bottom Seperator */

/* Icons get larger in hover state */
.fa-brands {
    transition: transform .2s;
}

.fa-brands:hover {
    transform: scale(1.1);
}

.social-links a:hover {
    color: #212529;
}

/*----------------------------------------------------- Media Queries */

@media screen and (max-width: 800px) {
    .service-item {
        padding-left: 0;
        padding-right: 0;
        text-align: justify;
    }

}

@media screen and (min-width: 768px) {
    .navbar-collapse {
        margin-top: 0;
    }
}